img{
    width:200px;
    height:300px;

}

.text{
    color:brown;
}

#mech{
    color:aqua;
}

li[value="2"]{
    color:white; 
}

h2[draggable="true"]{
    color:white;
}

p[draggable="true"]{
    color:white
}

.rev{
    color:white;
}

.tuv{
    color:white
}
